@if (taskLoadingStatus()?.loading) {
	<spinner />
} @else {
	@if (task()) {
		<mat-card>
			<mat-card-header>
				<mat-card-title>{{ task()?.title }}</mat-card-title>
				<mat-card-subtitle>{{ task()?.name }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p class="assigner-field">
					Assigners:
					<mat-form-field>
						<mat-chip-grid #chipGrid>
							@for (user of assigners(); track user) {
								<mat-chip-row (removed)="remove(user)">
									{{ user }}
									<button matChipRemove>
										<mat-icon>cancel</mat-icon>
									</button>
								</mat-chip-row>
							}
						</mat-chip-grid>
						<input
							#performerInput
							class="assigner-field-input"
							placeholder="Add assigner"
							[formControl]="performerFormControl"
							[matChipInputFor]="chipGrid"
							[matAutocomplete]="auto"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							(matChipInputTokenEnd)="add($event)"
						/>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
							@for (user of filteredUsers(); track user) {
								<mat-option [value]="user">{{ user }}</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>
				</p>
				<p>
					Status:
					<mat-form-field>
						<mat-select name="status" [formControl]="statusFormControl">
							@for (status of statuses; track status) {
								<mat-option [value]="status">{{ status }}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				</p>
				<p>Priority: {{ task()?.priority }}</p>
				<p>Deadline: {{ task()?.deadline | date }}</p>
			</mat-card-content>
		</mat-card>
	} @else {
		<no-data />
	}
}
