:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 10px;

	.title {
		display: flex;
		justify-content: space-between;
	}

	.filters {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 16px;
		height: 0;

		&__filter {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}
}
