:host {
	height: 100%;

	.no-data {
		align-items: center;
		display: flex;
		font-weight: bold;
		height: 100%;
		justify-content: center;

		&.xs {
			font-size: 12px;
		}

		&.s {
			font-size: 18px;
		}

		&.m {
			font-size: 24px;
		}

		&.l {
			font-size: 30px;
		}

		&.xl {
			font-size: 36px;
		}
	}
}
